---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/footer.astro";
import embek_1 from "../assets/embek-1.jpg";
import embek_2 from "../assets/embek-2.jpg";
import embek_3 from "../assets/embek-3.jpg";
import { BreedingCom } from "../components/BreedingCom";
import BreedingContent from "../components/BreedingContent.astro";
const title = "Breeding Page";
---

<Layout title={title}>
    <Navbar />
    <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-3 p-4">
        <div class="max-w-6xl mx-auto px-5 py-10">
            <h1 class="text-4xl font-bold font-bebas mb-6">
                Breeding <span class="text-green-600 text-5xl">Information</span
                >
            </h1>
            <p class="text-lg text-gray-700 mb-4">
                At Embek Probolinggo Farm, we prioritize ethical and sustainable
                breeding practices to ensure the health and well-being of our
                livestock. Our breeding program focuses on selecting superior
                genetics to enhance productivity, disease resistance, and
                overall animal welfare. We employ modern techniques while
                adhering to traditional values, ensuring that our animals are
                raised in a stress-free environment with ample space, proper
                nutrition, and regular veterinary care. Our commitment to
                responsible breeding not only supports the longevity of our farm
                but also guarantees high-quality products for our customers.
            </p>
        </div>
        <img src={embek_1.src} class="w-full h-full object-cover rounded-lg" />
        <div class="grid grid-row s-2 gap-4">
            <img
                src={embek_2.src}
                alt="Anak berkebun"
                class="w-full h-full object-cover rounded-lg"
            />
            <img
                src={embek_3.src}
                alt="Jagung segar"
                class="w-full h-full object-cover rounded-lg"
            />
        </div>
    </div>
    <div
        class="relative py-40 mb-10 overflow-hidden bg-fixed bg-center bg-cover bg-no-repeat mt-10"
        style={`background-image: url(${embek_1.src});`}
    >
        <div class="inset-0 absolute bg-black/40 z-10"></div>
        <div class="relative z-10 w-full mx-auto text-center -mt-40 px-4">
            <h2
                class="text-4xl md:text-5xl font-bold text-white font-bebas mt-15"
            >
                Sustainable Breeding for a Healthier Future
            </h2>
            <p class="text-gray-300 mb-12 text-md">
                Join us in our mission to promote ethical breeding practices
                that benefit both animals and the environment.
            </p>
            <BreedingCom client:load />
        </div>
    </div>
    <BreedingContent />
    <Footer />
</Layout>
